@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header > .left-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 0;
  margin-left: 24px;
}

.header > .right-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  padding: 0;
  margin-right: 24px;
}

ul {
  list-style-type: none;
}

a { 
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight:700;
  padding: 8px;
}

.footer {
  background-color: #d3d2d2;
  display: flex;
  justify-content: space-between;
}

.footer > .left-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 0;
  margin-left: 24px;
}

.footer > .right-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  padding: 0;
  margin-right: 24px;
}